In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Alonso_Annotations.xlsx')

In [4]:
df

,Review Number,Review,Is_Comparative?,Comparative Word (If Any),Ground truth
0,1,troubleshooting ad2500 and ad2600 no picture s...,0,None,NaN
1,2,repost from january 13 2004 with a better fit ...,1,better,NaN
2,3,does your apex dvd player only play dvd audio ...,0,None,NaN
3,4,or does it play audio and video but scrolling ...,0,None,NaN
4,5,before you try to return the player or waste h...,0,None,NaN
...,...,...,...,...,...
61,62,it s not a big deal for me,0,None,NaN
62,63,i simply watched the extra features on another...,0,None,NaN
63,64,had this been my only dvd player though it wou...,0,None,NaN
64,65,as it is i m keeping the machine,0,None,NaN
65,66,it works well enough so far for me to be satis...,0,None,NaN

In [5]:
df2=df['Review']
df2

0     troubleshooting ad2500 and ad2600 no picture s...
1     repost from january 13 2004 with a better fit ...
2     does your apex dvd player only play dvd audio ...
3     or does it play audio and video but scrolling ...
4     before you try to return the player or waste h...
                            ...
61                           it s not a big deal for me
62    i simply watched the extra features on another...
63    had this been my only dvd player though it wou...
64                     as it is i m keeping the machine
65    it works well enough so far for me to be satis...
Name: Review, Length: 66, dtype: object

In [6]:
df2.to_csv(r'ss_review.txt', header=None, index=None)

In [7]:
df3=pd.read_csv('ss_aa.txt')
df3

    Is_Comparative? Comparative Word
0                 0             none
1                 1           better
2                 0             none
3                 0             none
4                 0             none
..              ...              ...
61                0             none
62                0             none
63                0             none
64                0             none
65                0             none

[66 rows x 2 columns]

In [9]:
df4 = pd.concat([df, df3], axis=1)
df4

,Review Number,Review,Is_Comparative?,Comparative Word (If Any),Ground truth,Is_Comparative?,Comparative Word
0,1,troubleshooting ad2500 and ad2600 no picture s...,0,None,NaN,0,none
1,2,repost from january 13 2004 with a better fit ...,1,better,NaN,1,better
2,3,does your apex dvd player only play dvd audio ...,0,None,NaN,0,none
3,4,or does it play audio and video but scrolling ...,0,None,NaN,0,none
4,5,before you try to return the player or waste h...,0,None,NaN,0,none
...,...,...,...,...,...,...,...
61,62,it s not a big deal for me,0,None,NaN,0,none
62,63,i simply watched the extra features on another...,0,None,NaN,0,none
63,64,had this been my only dvd player though it wou...,0,None,NaN,0,none
64,65,as it is i m keeping the machine,0,None,NaN,0,none
65,66,it works well enough so far for me to be satis...,0,None,NaN,0,none

In [12]:
df4.to_excel(r'my_annotations.xlsx', index = False)

In [ ]:
df5 = pd.read_excel('my_annotations.xlsx')

#Model based on true vs false positives

: